
<div id="container" style="height:120px ">


<center>
<h2><%= t 'welcome.homepage' %></h2>

<form id=myform action ="games/search" method="post">
<input name = "key" type="input" />
<input value="<%= t 'welcome.search' %>" type="submit"/>
</form> </center>
</br>
<center>
<%= link_to 'About ', :controller => "games", :action => "about"%> |
<%= link_to ' Games ', games_path %> | 
<%= link_to ' Game of the Month', :controller => "games", :action => "gom"%> 
</center>
</div>
