
<div id="container" style="height:120px ">


<center>
<h2><%= t 'welcome.homepage' %></h2>

<form id=myform action ="games/search" method="post">
<input name = "key" type="input" />
<input value="<%= t 'welcome.search' %>" type="submit"/>
</form> </center>
</br>
<%= link_to 'Games', games_path %> | 
<%= link_to 'Register', :controller => "users", :action => "new"%> or
<%= link_to 'Login', :controller => "sessions", :action => "new"%>
</div>
