<h3>
<% ('A'...'Z').each do |letter| -%>
<%= link_to letter, games_path(:starts_with => letter) %>
<% end -%>

<%= link_to 'All Games', games_path %>
</h3>


<h3>
<% ('2005'..'2011').each do |releaseyear| -%>
<%= link_to releaseyear, games_path(:released_in => releaseyear) %>
<% end -%>

<%= link_to 'All Games', games_path %>
</h3>

<h1>Listing games</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Platform</th>
    <th>Description</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.id %></td>
    <td><%= game.title %></td>
    <td><%= game.publisher %></td>
    <td><%= game.year %></td>
    <td><%= game.genre %></td>
    <td><%= game.platform %></td>
    <td><%= game.description %></td>
    <td><img src='<%= game.picture %>'/></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
<h2> Import Games </h2>
<%= form_tag import_games_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
