<div class="main">
</br>
</br>

<center><form style='margin: 0; padding: 0' id='myform' action ="games/search" method="post">
<b><p style='font-size:13px;'><%= link_to 'HOME | ', root_path %> &nbsp;&nbsp;<%= link_to ' GAME OF THE MONTH | ', :controller => "games", :action => "gom" %> &nbsp;&nbsp; <%= link_to ' ALL GAMES | ', games_path %> &nbsp;&nbsp; <%= link_to ' ABOUT  ', :controller => "games", :action => "about" %> &nbsp;&nbsp; </b>
<input name = "key" type="input" />
<input style='display:inline;' value="Search Games" type="submit"/></p>
</form> </center>
</br>
<center>
<p> <%= t 'welcome.title' %> </p>
<p> <%= t 'welcome.paragraph' %> </p>
</center>
</br>

<h3>
<center>
<% ('A'...'Z').each do |letter| -%>
<%= link_to letter, games_path(:starts_with => letter) %>
<% end -%>
</h3>
</center>
<center>
<h3>
<% ('2005'..'2011').each do |releaseyear| -%>
<%= link_to releaseyear, games_path(:released_in => releaseyear) %>
<% end -%>

</h3>
</center>
</br>
</br>
<%if (@games.length<1) %>
</br>
</br>
	<p><%= t 'welcome.noresults' %></p>
</br>
</br>	
<% else %>	



<table>
<% @games.each do |game| %>

      <tr class="border_bottom">
           <td rowspan="6">
           <img id='smallpic'src='<%= game.picture %>'/>
           </td>
           <td style='color:#A1A1A1; font-size:17px;'>
           <%= link_to game.title, game %>
           </td>
      </tr>
      <tr>
           <td style='color:#A1A1A1;'>
           <%= t 'welcome.released' %>  <%= game.year %>
           </td>
      </tr>
	  <tr>
           <td style='color:#A1A1A1;'>
           <%= t 'welcome.publisher' %>  <%= game.publisher %>
           </td>
      </tr>
	  <tr>
           <td style='color:#A1A1A1;'>
           <%= t 'welcome.genre' %> <%= game.genre %>
           </td>
      </tr>
	  <tr>
           <td style='color:#A1A1A1;'>
           <%= t 'welcome.platforms' %> <%= game.platform %>
           </td>
      </tr>
	  <tr class="border_bottom">
           <td colspan="2" style='color:#A1A1A1; text-align:justify;'>
           <%= game.description %>
           </td>
      </tr>
	<% end %>  
 </table> 



<br />
<% end %>
