
<div class='main'>

<center><h1>Search results</h1></center>

<% if (@games.length <1) %>
<p> <%= t 'welcome.noresults' %></p>

<% else %>

<table id='results'>
<tr>
<td><p align="center" style='color:white; font-size:30px;'><i><b><%= t 'welcome.game' %> </b></i></td>
<td><p align="center" style='color:white; font-size:30px;'><i><b><%= t 'welcome.released' %></b></i></td>
<td><p align="center" style='color:white; font-size:30px;'><i><b><%= t 'welcome.publisher' %> </b></i></td>
</tr>
<% @games.each do |game| %>
<tr>
<td style='color:#A1A1A1; font-size:20px;'><a href="<%=game.id%>"><%=game.title%></a>
<td style='color:#A1A1A1; font-size:20px;'><%=game.year%></td>
<td style='color:#A1A1A1; font-size:20px;'><%=game.publisher%></td>
</td>
</tr>
<% end %>
</table>

<% end %>
<p> <a href="/games"> Back</a> </body>

</div>