<div class="main">


<table id='showtable'>
      <tr>
           <td rowspan="6">
           <img id='bigpic'src='<%= @game.picture %>'/>
           </td>
           <td style='color:white; font-size:30px;'>
           <%= link_to @game.title, @game %>
           </td>
      </tr>
      <tr>
           <td style='color:#A1A1A1; font-size:20px;'>
           <b>Release year:</b> <%= @game.year %>
           </td>
      </tr>
	  <tr>
           <td style='color:#A1A1A1; font-size:20px;'>
           <b>Publisher:</b> <%= @game.publisher %>
           </td>
      </tr>
	  <tr>
           <td style='color:#A1A1A1; font-size:20px;'>
           <b>Genre:</b> <%= @game.genre %>
           </td>
      </tr>
	  <tr>
           <td style='color:#A1A1A1; font-size:20px;'>
           <b>Platforms:</b> <%= @game.platform %>
           </td>
      </tr>

 
 </table> 


<p style='color:white; font-size:15px; text-align:justify;
 text-justify:inter-word;'>
   <%= @game.description %>
</p>




<%= link_to 'Back', games_path %>
</div>