<!DOCTYPE html>
<html>
<head>
  <title>Gamesnetwork</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
	<% if current_user %>
		 <%= t 'welcome.loggedin' %> <%= current_user.email %>. |
		<%= link_to "Log out", :controller => "sessions", :action => "destroy" %> |
		<%= link_to "Profile", :controller => "sessions", :action => "profile" %>
	<% else %>
		<%= link_to "Sign Up", :controller => "users", :action => "new" %> or
		<%= link_to "Log In", :controller => "sessions", :action => "new" %>
	<% end %>
</div>
<center><h2>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</h2></center>
<%= yield %>

</body>
</html>
